# Import

In [1]:
import pandas as pd
from sklearn.metrics import roc_auc_score

# Data Load

In [2]:
test = pd.read_csv('../3.로티로리_데이터 및 모델 세이브 파일/features3_te.csv')
tabnet = pd.read_csv('../3.로티로리_데이터 및 모델 세이브 파일/TabNet_pred_df.csv').drop('cust',axis=1)
pycaret = pd.read_csv('../3.로티로리_데이터 및 모델 세이브 파일/Pycaret_pred_df.csv').drop('cust',axis=1)
Catboost = pd.read_csv('../3.로티로리_데이터 및 모델 세이브 파일/Catboost_pred_df.csv')
ML = pd.read_csv('../3.로티로리_데이터 및 모델 세이브 파일/ML_Voting_pred_df.csv')

In [3]:
test

,cust,mpd_nunique,favorite_pd,favorite_zon,favorite_loc,mean_buy_am,max_buy_am,num_visit,day_sum_buy_am,day_count_buy_am,...,monetary,R,F,M,RFMscore,weekend_holiday_use,most_expensive,buy_ct_sum,most_buy_cop_u,lpay_use_status
0,M099969868,3.0,냉동간편식,Z17018,Z17,7570.0,15000.0,2,15140.000000,2.000000,...,30280.0,2,1,1,115,4,0,3.0,0,Lpay_X
1,M421772848,30.0,일반담배,Z04003,Z04,5297.0,19459.0,22,12761.181818,2.409091,...,280746.0,5,4,3,365,53,0,64.0,0,Lpay_X
2,M846905359,3.0,모바일상품권,점포없음,Z10,41905.0,85000.0,12,69841.666667,1.666667,...,838100.0,1,2,4,285,20,0,16.0,0,Lpay_Online
3,M742233311,53.0,레토르트,Z10044,Z10,6342.0,39600.0,19,58083.157895,9.157895,...,1103580.0,3,5,4,420,174,0,204.0,0,Lpay_X
4,M118308498,36.0,식당,Z06009,Z06,6554.0,33000.0,8,53252.625000,8.125000,...,426021.0,3,4,3,335,65,0,71.0,0,Lpay_X
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3611,M943754955,45.0,냉장간편식,Z10041,Z10,6277.0,167200.0,12,52831.916667,8.416667,...,633983.0,5,5,4,450,101,0,109.0,D01,Lpay_X
3612,M187531769,40.0,냉장간편식,Z10027,Z10,6824.0,50000.0,5,126929.000000,18.600000,...,634645.0,3,5,4,420,93,0,112.0,0,Lpay_X
3613,M555730969,62.0,요구르트,Z10041,Z10,5419.0,36490.0,22,41384.363636,7.636364,...,910456.0,4,5,4,435,168,0,200.0,0,Lpay_X
3614,M103649386,44.0,가공유,Z11016,Z11,6182.0,89800.0,20,37094.800000,6.000000,...,741896.0,4,5,4,435,120,0,169.0,0,Lpay_X
3615,M026680290,54.0,아이스크림,Z04008,Z04,3326.0,18590.0,23,28197.652174,8.478261,...,648546.0,4,5,4,435,195,0,231.0,0,Lpay_Online

In [4]:
tabnet.columns = pycaret.columns
tabnet

      Lpay_Offline  Lpay_On/Offline  Lpay_Online    Lpay_X
0         0.017543         0.006358     0.026686  0.949412
1         0.127879         0.070040     0.038466  0.763616
2         0.011689         0.171199     0.578688  0.238425
3         0.043629         0.030279     0.010168  0.915923
4         0.025852         0.019157     0.016070  0.938922
...            ...              ...          ...       ...
3611      0.057466         0.030092     0.025571  0.886871
3612      0.037582         0.020383     0.006676  0.935359
3613      0.026613         0.020202     0.018995  0.934189
3614      0.058526         0.024394     0.021966  0.895114
3615      0.008460         0.090833     0.184705  0.716002

[3616 rows x 4 columns]

In [5]:
pycaret

      Lpay_Offline  Lpay_On/Offline  Lpay_Online  Lpay_X
0          0.01425         0.007125     0.007125  0.9715
1          0.12680         0.063400     0.063400  0.7464
2          0.19380         0.096900     0.612400  0.0969
3          0.07365         0.036825     0.036825  0.8527
4          0.06330         0.031650     0.031650  0.8734
...            ...              ...          ...     ...
3611       0.14445         0.072225     0.072225  0.7111
3612       0.02665         0.013325     0.013325  0.9467
3613       0.16430         0.082150     0.082150  0.6714
3614       0.19560         0.097800     0.097800  0.6088
3615       0.27810         0.139050     0.139050  0.4438

[3616 rows x 4 columns]

In [6]:
Catboost.columns = pycaret.columns
Catboost

      Lpay_Offline  Lpay_On/Offline  Lpay_Online    Lpay_X
0         0.020779         0.011322     0.023379  0.944520
1         0.128987         0.069309     0.037476  0.764228
2         0.021441         0.297749     0.517139  0.163672
3         0.040374         0.017881     0.023244  0.918501
4         0.027839         0.013802     0.025863  0.932496
...            ...              ...          ...       ...
3611      0.037320         0.020260     0.030484  0.911936
3612      0.021610         0.009476     0.017570  0.951343
3613      0.114078         0.047801     0.035408  0.802714
3614      0.143349         0.051367     0.035643  0.769641
3615      0.041006         0.169461     0.230626  0.558907

[3616 rows x 4 columns]

In [7]:
ML.columns = pycaret.columns
ML

      Lpay_Offline  Lpay_On/Offline  Lpay_Online    Lpay_X
0         0.018578         0.005248     0.011740  0.964434
1         0.169877         0.074697     0.051126  0.704300
2         0.033875         0.374335     0.436123  0.155667
3         0.042425         0.022669     0.023539  0.911367
4         0.035610         0.012997     0.015882  0.935512
...            ...              ...          ...       ...
3611      0.072000         0.039540     0.030345  0.858116
3612      0.029090         0.008082     0.012520  0.950309
3613      0.145517         0.047786     0.034673  0.772024
3614      0.168628         0.046720     0.034387  0.750265
3615      0.027837         0.189639     0.199149  0.583375

[3616 rows x 4 columns]

# Ensemble

In [8]:
ensemble_df = (tabnet+pycaret+Catboost+ML)/4
ensemble_df

      Lpay_Offline  Lpay_On/Offline  Lpay_Online    Lpay_X
0         0.017788         0.007513     0.017233  0.957466
1         0.138386         0.069362     0.047617  0.744636
2         0.065201         0.235046     0.536087  0.163666
3         0.050020         0.026914     0.023444  0.899623
4         0.038150         0.019401     0.022366  0.920083
...            ...              ...          ...       ...
3611      0.077809         0.040529     0.039656  0.842006
3612      0.028733         0.012817     0.012523  0.945928
3613      0.112627         0.049485     0.042806  0.795082
3614      0.141526         0.055070     0.047449  0.755955
3615      0.088851         0.147246     0.188383  0.575521

[3616 rows x 4 columns]

In [9]:
test_target = test.lpay_use_status

In [10]:
print('Avg_ensemble roc_auc score :',roc_auc_score(test_target,ensemble_df,multi_class='ovr',average='weighted'))

Avg_ensemble roc_auc score : 0.7961024109532839

# Final Pred

In [11]:
ensemble_df.to_csv('../3.로티로리_데이터 및 모델 세이브 파일/Final_pred.csv',index=False)