# Import

In [1]:
import os
import pandas as pd
import random
import numpy as np
import matplotlib.pyplot as plt
import glob
from tqdm import tqdm

from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_log_error
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

from autogluon.tabular import TabularDataset, TabularPredictor
import autogluon.core as ag

import warnings
warnings.filterwarnings("ignore")

def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)

seed_everything(42)

# Data Load

In [2]:
train_org = pd.read_csv('../open/train.csv').drop(columns='ID')
test_org = pd.read_csv('../open/test.csv').drop(columns='ID')

In [3]:
display(train_org)
print(train_org.shape)

,사고일시,요일,기상상태,시군구,도로형태,노면상태,사고유형,사고유형 - 세부분류,법규위반,가해운전자 차종,...,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도,사망자수,중상자수,경상자수,부상자수,ECLO
0,2019-01-01 00,화요일,맑음,대구광역시 중구 대신동,단일로 - 기타,건조,차대사람,길가장자리구역통행중,안전운전불이행,승용,...,상해없음,보행자,여,70세,중상,0,1,0,0,5
1,2019-01-01 00,화요일,흐림,대구광역시 달서구 감삼동,단일로 - 기타,건조,차대사람,보도통행중,기타,승용,...,상해없음,보행자,남,61세,경상,0,0,1,0,3
2,2019-01-01 01,화요일,맑음,대구광역시 수성구 두산동,단일로 - 기타,건조,차대사람,차도통행중,안전운전불이행,승용,...,상해없음,보행자,남,38세,경상,0,0,1,0,3
3,2019-01-01 02,화요일,맑음,대구광역시 북구 복현동,단일로 - 기타,건조,차대차,추돌,안전운전불이행,승용,...,상해없음,승용,남,36세,중상,0,1,0,0,5
4,2019-01-01 04,화요일,맑음,대구광역시 동구 신암동,단일로 - 기타,건조,차대차,추돌,안전운전불이행,승용,...,상해없음,승용,남,52세,경상,0,0,1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39604,2021-12-31 19,금요일,맑음,대구광역시 수성구 수성동3가,교차로 - 교차로안,건조,차대차,측면충돌,신호위반,승용,...,상해없음,이륜,남,28세,경상,0,0,1,0,3
39605,2021-12-31 19,금요일,맑음,대구광역시 달서구 상인동,단일로 - 기타,건조,차대차,측면충돌,안전거리미확보,승용,...,상해없음,승용,남,52세,경상,0,0,1,0,3
39606,2021-12-31 21,금요일,맑음,대구광역시 달서구 월성동,교차로 - 교차로안,건조,차대차,측면충돌,교차로운행방법위반,승용,...,중상,승용,남,73세,중상,0,2,0,0,10
39607,2021-12-31 22,금요일,맑음,대구광역시 달서구 장동,기타 - 기타,건조,차대차,추돌,안전운전불이행,승용,...,상해없음,승용,여,57세,경상,0,0,1,0,3
39608,2021-12-31 23,금요일,맑음,대구광역시 서구 비산동,단일로 - 지하차도(도로)내,건조,차대차,측면충돌,안전운전불이행,승용,...,상해없음,승용,남,33세,경상,0,0,2,0,6

(39609, 22)

In [4]:
display(test_org)
print(test_org.shape)

                사고일시   요일 기상상태              시군구         도로형태 노면상태  사고유형
0      2022-01-01 01  토요일   맑음     대구광역시 수성구 상동   교차로 - 교차로안   건조  차대사람
1      2022-01-01 01  토요일   맑음    대구광역시 수성구 지산동     단일로 - 기타   건조  차대사람
2      2022-01-01 04  토요일   맑음  대구광역시 수성구 수성동2가   교차로 - 교차로안   건조   차대차
3      2022-01-01 04  토요일   맑음    대구광역시 수성구 신매동     단일로 - 기타   건조   차대차
4      2022-01-01 06  토요일   맑음    대구광역시 달서구 감삼동   교차로 - 교차로안   건조   차대차
...              ...  ...  ...              ...          ...  ...   ...
10958  2022-12-31 18  토요일   맑음     대구광역시 남구 대명동     단일로 - 터널   건조   차대차
10959  2022-12-31 18  토요일   맑음    대구광역시 수성구 시지동     단일로 - 기타   건조   차대차
10960  2022-12-31 20  토요일   맑음    대구광역시 수성구 연호동     단일로 - 기타   건조   차대차
10961  2022-12-31 20  토요일   맑음    대구광역시 수성구 범물동  교차로 - 교차로부근   건조   차대차
10962  2022-12-31 21  토요일   맑음     대구광역시 동구 효목동  교차로 - 교차로부근   건조   차대차

[10963 rows x 7 columns]

(10963, 7)

# Data merge

In [5]:
light_df = pd.read_csv('../open/external_open/대구 보안등 정보.csv', encoding='cp949')[['설치개수', '소재지지번주소']]

location_pattern = r'(\S+) (\S+) (\S+) (\S+)'

light_df[['도시', '구', '동', '번지']] = light_df['소재지지번주소'].str.extract(location_pattern)
light_df = light_df.drop(columns=['소재지지번주소', '번지'])

light_df = light_df.groupby(['도시', '구', '동']).sum().reset_index()
light_df.reset_index(inplace=True, drop=True)

In [6]:
light_df

        도시    구      동  설치개수
0    대구광역시   남구    대명동  5377
1    대구광역시   남구    봉덕동  1424
2    대구광역시   남구    이천동   556
3    대구광역시  달서구    갈산동   349
4    대구광역시  달서구    감삼동   932
..     ...  ...    ...   ...
223  대구광역시   중구  태평로2가    38
224  대구광역시   중구  태평로3가    47
225  대구광역시   중구    포정동    18
226  대구광역시   중구    향촌동    28
227  대구광역시   중구    화전동    22

[228 rows x 4 columns]

In [7]:
child_area_df = pd.read_csv('../open/external_open/대구 어린이 보호 구역 정보.csv', encoding='cp949').drop_duplicates()[['소재지지번주소']]
child_area_df['cnt'] = 1

location_pattern = r'(\S+) (\S+) (\S+) (\S+)'

child_area_df[['도시', '구', '동', '번지']] = child_area_df['소재지지번주소'].str.extract(location_pattern)
child_area_df = child_area_df.drop(columns=['소재지지번주소', '번지'])

child_area_df = child_area_df.groupby(['도시', '구', '동']).sum().reset_index()
child_area_df.reset_index(inplace=True, drop=True)

In [8]:
child_area_df

       도시    구      동  cnt
0   대구광역시   남구    대명동   26
1   대구광역시   남구    봉덕동    8
2   대구광역시   남구    이천동    6
3   대구광역시  달성군    가창면    4
4   대구광역시  달성군    구지면    3
..    ...  ...    ...  ...
66  대구광역시   중구    봉산동    2
67  대구광역시   중구  삼덕동2가    1
68  대구광역시   중구  삼덕동3가    1
69  대구광역시   중구  서문로1가    1
70  대구광역시   중구    수창동    1

[71 rows x 4 columns]

In [9]:
parking_df = pd.read_csv('../open/external_open/대구 주차장 정보.csv', encoding='cp949')[['소재지지번주소', '급지구분']]
parking_df = pd.get_dummies(parking_df, columns=['급지구분'])

location_pattern = r'(\S+) (\S+) (\S+) (\S+)'

parking_df[['도시', '구', '동', '번지']] = parking_df['소재지지번주소'].str.extract(location_pattern)
parking_df = parking_df.drop(columns=['소재지지번주소', '번지'])

parking_df = parking_df.groupby(['도시', '구', '동']).sum().reset_index()
parking_df.reset_index(inplace=True, drop=True)

In [10]:
parking_df

        도시    구      동  급지구분_1  급지구분_2  급지구분_3
0    대구광역시   남구    대명동      20       1       0
1    대구광역시   남구    봉덕동       9       3       0
2    대구광역시   남구    이천동       3       0       0
3    대구광역시  달서구    갈산동       0       0       4
4    대구광역시  달서구    감삼동       0       1       3
..     ...  ...    ...     ...     ...     ...
131  대구광역시   중구  태평로2가       5       0       0
132  대구광역시   중구  태평로3가       1       0       0
133  대구광역시   중구    포정동       4       0       0
134  대구광역시   중구    향촌동       2       0       0
135  대구광역시   중구    화전동       1       0       0

[136 rows x 6 columns]

In [11]:
train_df = train_org.copy()
test_df = test_org.copy()

# Data Preprocessing

In [12]:
time_pattern = r'(\d{4})-(\d{1,2})-(\d{1,2}) (\d{1,2})' 

train_df[['연', '월', '일', '시간']] = train_org['사고일시'].str.extract(time_pattern)
train_df[['연', '월', '일', '시간']] = train_df[['연', '월', '일', '시간']].apply(pd.to_numeric) # 추출된 문자열을 수치화해줍니다 
train_df = train_df.drop(columns=['사고일시']) # 정보 추출이 완료된 '사고일시' 컬럼은 제거합니다 

# 해당 과정을 test_x에 대해서도 반복해줍니다 
test_df[['연', '월', '일', '시간']] = test_org['사고일시'].str.extract(time_pattern)
test_df[['연', '월', '일', '시간']] = test_df[['연', '월', '일', '시간']].apply(pd.to_numeric)
test_df = test_df.drop(columns=['사고일시'])

In [13]:
location_pattern = r'(\S+) (\S+) (\S+)'

train_df[['도시', '구', '동']] = train_org['시군구'].str.extract(location_pattern)
train_df = train_df.drop(columns=['시군구'])

test_df[['도시', '구', '동']] = test_org['시군구'].str.extract(location_pattern)
test_df = test_df.drop(columns=['시군구'])

In [14]:
road_pattern = r'(.+) - (.+)'

train_df[['도로형태1', '도로형태2']] = train_org['도로형태'].str.extract(road_pattern)
train_df = train_df.drop(columns=['도로형태'])

test_df[['도로형태1', '도로형태2']] = test_org['도로형태'].str.extract(road_pattern)
test_df = test_df.drop(columns=['도로형태'])

In [15]:
# train_df와 test_df에, light_df와 child_area_df, parking_df를 merge하세요.
train_df = pd.merge(train_df, light_df, how='left', on=['도시', '구', '동'])
train_df = pd.merge(train_df, child_area_df, how='left', on=['도시', '구', '동'])
train_df = pd.merge(train_df, parking_df, how='left', on=['도시', '구', '동'])

test_df = pd.merge(test_df, light_df, how='left', on=['도시', '구', '동'])
test_df = pd.merge(test_df, child_area_df, how='left', on=['도시', '구', '동'])
test_df = pd.merge(test_df, parking_df, how='left', on=['도시', '구', '동'])

In [16]:
display(train_df)
print(train_df.shape)

,요일,기상상태,노면상태,사고유형,사고유형 - 세부분류,법규위반,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,...,도시,구,동,도로형태1,도로형태2,설치개수,cnt,급지구분_1,급지구분_2,급지구분_3
0,화요일,맑음,건조,차대사람,길가장자리구역통행중,안전운전불이행,승용,여,51세,상해없음,...,대구광역시,중구,대신동,단일로,기타,391.0,2.0,11.0,0.0,0.0
1,화요일,흐림,건조,차대사람,보도통행중,기타,승용,남,39세,상해없음,...,대구광역시,달서구,감삼동,단일로,기타,932.0,NaN,0.0,1.0,3.0
2,화요일,맑음,건조,차대사람,차도통행중,안전운전불이행,승용,남,70세,상해없음,...,대구광역시,수성구,두산동,단일로,기타,473.0,5.0,NaN,NaN,NaN
3,화요일,맑음,건조,차대차,추돌,안전운전불이행,승용,남,49세,상해없음,...,대구광역시,북구,복현동,단일로,기타,534.0,11.0,0.0,9.0,5.0
4,화요일,맑음,건조,차대차,추돌,안전운전불이행,승용,남,30세,상해없음,...,대구광역시,동구,신암동,단일로,기타,2057.0,NaN,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39604,금요일,맑음,건조,차대차,측면충돌,신호위반,승용,여,52세,상해없음,...,대구광역시,수성구,수성동3가,교차로,교차로안,NaN,1.0,NaN,NaN,NaN
39605,금요일,맑음,건조,차대차,측면충돌,안전거리미확보,승용,여,60세,상해없음,...,대구광역시,달서구,상인동,단일로,기타,843.0,NaN,0.0,0.0,5.0
39606,금요일,맑음,건조,차대차,측면충돌,교차로운행방법위반,승용,남,60세,중상,...,대구광역시,달서구,월성동,교차로,교차로안,164.0,NaN,0.0,1.0,0.0
39607,금요일,맑음,건조,차대차,추돌,안전운전불이행,승용,남,40세,상해없음,...,대구광역시,달서구,장동,기타,기타,210.0,NaN,0.0,0.0,1.0
39608,금요일,맑음,건조,차대차,측면충돌,안전운전불이행,승용,남,27세,상해없음,...,대구광역시,서구,비산동,단일로,지하차도(도로)내,NaN,19.0,6.0,30.0,13.0

(39609, 33)

In [17]:
display(test_df)
print(test_df.shape)

,요일,기상상태,노면상태,사고유형,연,월,일,시간,도시,구,동,도로형태1,도로형태2,설치개수,cnt,급지구분_1,급지구분_2,급지구분_3
0,토요일,맑음,건조,차대사람,2022,1,1,1,대구광역시,수성구,상동,교차로,교차로안,700.0,5.0,NaN,NaN,NaN
1,토요일,맑음,건조,차대사람,2022,1,1,1,대구광역시,수성구,지산동,단일로,기타,NaN,10.0,0.0,0.0,2.0
2,토요일,맑음,건조,차대차,2022,1,1,4,대구광역시,수성구,수성동2가,교차로,교차로안,NaN,1.0,NaN,NaN,NaN
3,토요일,맑음,건조,차대차,2022,1,1,4,대구광역시,수성구,신매동,단일로,기타,NaN,7.0,0.0,2.0,1.0
4,토요일,맑음,건조,차대차,2022,1,1,6,대구광역시,달서구,감삼동,교차로,교차로안,932.0,NaN,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10958,토요일,맑음,건조,차대차,2022,12,31,18,대구광역시,남구,대명동,단일로,터널,5377.0,26.0,20.0,1.0,0.0
10959,토요일,맑음,건조,차대차,2022,12,31,18,대구광역시,수성구,시지동,단일로,기타,NaN,5.0,NaN,NaN,NaN
10960,토요일,맑음,건조,차대차,2022,12,31,20,대구광역시,수성구,연호동,단일로,기타,NaN,NaN,NaN,NaN,NaN
10961,토요일,맑음,건조,차대차,2022,12,31,20,대구광역시,수성구,범물동,교차로,교차로부근,NaN,7.0,NaN,NaN,NaN
10962,토요일,맑음,건조,차대차,2022,12,31,21,대구광역시,동구,효목동,교차로,교차로부근,1164.0,NaN,NaN,NaN,NaN

(10963, 18)

In [18]:
test_x = test_df.copy()
train_x = train_df[test_x.columns].copy()
train_y = train_df['ECLO'].copy()

In [19]:
display(train_x)
print(train_x.shape)

,요일,기상상태,노면상태,사고유형,연,월,일,시간,도시,구,동,도로형태1,도로형태2,설치개수,cnt,급지구분_1,급지구분_2,급지구분_3
0,화요일,맑음,건조,차대사람,2019,1,1,0,대구광역시,중구,대신동,단일로,기타,391.0,2.0,11.0,0.0,0.0
1,화요일,흐림,건조,차대사람,2019,1,1,0,대구광역시,달서구,감삼동,단일로,기타,932.0,NaN,0.0,1.0,3.0
2,화요일,맑음,건조,차대사람,2019,1,1,1,대구광역시,수성구,두산동,단일로,기타,473.0,5.0,NaN,NaN,NaN
3,화요일,맑음,건조,차대차,2019,1,1,2,대구광역시,북구,복현동,단일로,기타,534.0,11.0,0.0,9.0,5.0
4,화요일,맑음,건조,차대차,2019,1,1,4,대구광역시,동구,신암동,단일로,기타,2057.0,NaN,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39604,금요일,맑음,건조,차대차,2021,12,31,19,대구광역시,수성구,수성동3가,교차로,교차로안,NaN,1.0,NaN,NaN,NaN
39605,금요일,맑음,건조,차대차,2021,12,31,19,대구광역시,달서구,상인동,단일로,기타,843.0,NaN,0.0,0.0,5.0
39606,금요일,맑음,건조,차대차,2021,12,31,21,대구광역시,달서구,월성동,교차로,교차로안,164.0,NaN,0.0,1.0,0.0
39607,금요일,맑음,건조,차대차,2021,12,31,22,대구광역시,달서구,장동,기타,기타,210.0,NaN,0.0,0.0,1.0
39608,금요일,맑음,건조,차대차,2021,12,31,23,대구광역시,서구,비산동,단일로,지하차도(도로)내,NaN,19.0,6.0,30.0,13.0

(39609, 18)

In [20]:
display(test_x)
print(test_x.shape)

,요일,기상상태,노면상태,사고유형,연,월,일,시간,도시,구,동,도로형태1,도로형태2,설치개수,cnt,급지구분_1,급지구분_2,급지구분_3
0,토요일,맑음,건조,차대사람,2022,1,1,1,대구광역시,수성구,상동,교차로,교차로안,700.0,5.0,NaN,NaN,NaN
1,토요일,맑음,건조,차대사람,2022,1,1,1,대구광역시,수성구,지산동,단일로,기타,NaN,10.0,0.0,0.0,2.0
2,토요일,맑음,건조,차대차,2022,1,1,4,대구광역시,수성구,수성동2가,교차로,교차로안,NaN,1.0,NaN,NaN,NaN
3,토요일,맑음,건조,차대차,2022,1,1,4,대구광역시,수성구,신매동,단일로,기타,NaN,7.0,0.0,2.0,1.0
4,토요일,맑음,건조,차대차,2022,1,1,6,대구광역시,달서구,감삼동,교차로,교차로안,932.0,NaN,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10958,토요일,맑음,건조,차대차,2022,12,31,18,대구광역시,남구,대명동,단일로,터널,5377.0,26.0,20.0,1.0,0.0
10959,토요일,맑음,건조,차대차,2022,12,31,18,대구광역시,수성구,시지동,단일로,기타,NaN,5.0,NaN,NaN,NaN
10960,토요일,맑음,건조,차대차,2022,12,31,20,대구광역시,수성구,연호동,단일로,기타,NaN,NaN,NaN,NaN,NaN
10961,토요일,맑음,건조,차대차,2022,12,31,20,대구광역시,수성구,범물동,교차로,교차로부근,NaN,7.0,NaN,NaN,NaN
10962,토요일,맑음,건조,차대차,2022,12,31,21,대구광역시,동구,효목동,교차로,교차로부근,1164.0,NaN,NaN,NaN,NaN

(10963, 18)

In [21]:
categorical_features = list(train_x.dtypes[train_x.dtypes == "object"].index)

In [22]:
display(categorical_features)

['요일', '기상상태', '노면상태', '사고유형', '도시', '구', '동', '도로형태1', '도로형태2']

In [23]:
for feature in tqdm(categorical_features, desc="Encoding features"):
    encoder = LabelEncoder()
    train_x[feature] = encoder.fit_transform(train_x[feature])
    for label in np.unique(test_x[feature]):
        if label not in encoder.classes_:
            encoder.classes_ = np.append(encoder.classes_, label)
    test_x[feature] = encoder.transform(test_x[feature])

Encoding features: 100%|█████████████████████████████████████████████████████████████████| 9/9 [00:00<00:00, 76.52it/s]

In [24]:
train_x

,요일,기상상태,노면상태,사고유형,연,월,일,시간,도시,구,동,도로형태1,도로형태2,설치개수,cnt,급지구분_1,급지구분_2,급지구분_3
0,6,2,0,0,2019,1,1,0,0,7,40,2,5,391.0,2.0,11.0,0.0,0.0
1,6,5,0,0,2019,1,1,0,0,1,4,2,5,932.0,NaN,0.0,1.0,3.0
2,6,2,0,0,2019,1,1,1,0,6,66,2,5,473.0,5.0,NaN,NaN,NaN
3,6,2,0,1,2019,1,1,2,0,4,79,2,5,534.0,11.0,0.0,9.0,5.0
4,6,2,0,1,2019,1,1,4,0,3,129,2,5,2057.0,NaN,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39604,0,2,0,1,2021,12,31,19,0,6,118,0,3,NaN,1.0,NaN,NaN,NaN
39605,0,2,0,1,2021,12,31,19,0,1,103,2,5,843.0,NaN,0.0,0.0,5.0
39606,0,2,0,1,2021,12,31,21,0,1,144,0,3,164.0,NaN,0.0,1.0,0.0
39607,0,2,0,1,2021,12,31,22,0,1,158,1,5,210.0,NaN,0.0,0.0,1.0
39608,0,2,0,1,2021,12,31,23,0,5,89,2,8,NaN,19.0,6.0,30.0,13.0

In [25]:
test_x

,요일,기상상태,노면상태,사고유형,연,월,일,시간,도시,구,동,도로형태1,도로형태2,설치개수,cnt,급지구분_1,급지구분_2,급지구분_3
0,5,2,0,0,2022,1,1,1,0,6,99,0,3,700.0,5.0,NaN,NaN,NaN
1,5,2,0,0,2022,1,1,1,0,6,168,2,5,NaN,10.0,0.0,0.0,2.0
2,5,2,0,1,2022,1,1,4,0,6,117,0,3,NaN,1.0,NaN,NaN,NaN
3,5,2,0,1,2022,1,1,4,0,6,126,2,5,NaN,7.0,0.0,2.0,1.0
4,5,2,0,1,2022,1,1,6,0,1,4,0,3,932.0,NaN,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10958,5,2,0,1,2022,12,31,18,0,0,38,2,9,5377.0,26.0,20.0,1.0,0.0
10959,5,2,0,1,2022,12,31,18,0,6,123,2,5,NaN,5.0,NaN,NaN,NaN
10960,5,2,0,1,2022,12,31,20,0,6,134,2,5,NaN,NaN,NaN,NaN,NaN
10961,5,2,0,1,2022,12,31,20,0,6,77,0,2,NaN,7.0,NaN,NaN,NaN
10962,5,2,0,1,2022,12,31,21,0,3,195,0,2,1164.0,NaN,NaN,NaN,NaN

In [26]:
train_x.fillna(0, inplace=True)
test_x.fillna(0, inplace=True)

In [27]:
train_x['ECLO'] = train_y

In [28]:
display(train_x)
print(train_x.shape)

,요일,기상상태,노면상태,사고유형,연,월,일,시간,도시,구,동,도로형태1,도로형태2,설치개수,cnt,급지구분_1,급지구분_2,급지구분_3,ECLO
0,6,2,0,0,2019,1,1,0,0,7,40,2,5,391.0,2.0,11.0,0.0,0.0,5
1,6,5,0,0,2019,1,1,0,0,1,4,2,5,932.0,0.0,0.0,1.0,3.0,3
2,6,2,0,0,2019,1,1,1,0,6,66,2,5,473.0,5.0,0.0,0.0,0.0,3
3,6,2,0,1,2019,1,1,2,0,4,79,2,5,534.0,11.0,0.0,9.0,5.0,5
4,6,2,0,1,2019,1,1,4,0,3,129,2,5,2057.0,0.0,0.0,1.0,0.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39604,0,2,0,1,2021,12,31,19,0,6,118,0,3,0.0,1.0,0.0,0.0,0.0,3
39605,0,2,0,1,2021,12,31,19,0,1,103,2,5,843.0,0.0,0.0,0.0,5.0,3
39606,0,2,0,1,2021,12,31,21,0,1,144,0,3,164.0,0.0,0.0,1.0,0.0,10
39607,0,2,0,1,2021,12,31,22,0,1,158,1,5,210.0,0.0,0.0,0.0,1.0,3
39608,0,2,0,1,2021,12,31,23,0,5,89,2,8,0.0,19.0,6.0,30.0,13.0,6

(39609, 19)

In [29]:
display(test_x)
print(test_x.shape)

,요일,기상상태,노면상태,사고유형,연,월,일,시간,도시,구,동,도로형태1,도로형태2,설치개수,cnt,급지구분_1,급지구분_2,급지구분_3
0,5,2,0,0,2022,1,1,1,0,6,99,0,3,700.0,5.0,0.0,0.0,0.0
1,5,2,0,0,2022,1,1,1,0,6,168,2,5,0.0,10.0,0.0,0.0,2.0
2,5,2,0,1,2022,1,1,4,0,6,117,0,3,0.0,1.0,0.0,0.0,0.0
3,5,2,0,1,2022,1,1,4,0,6,126,2,5,0.0,7.0,0.0,2.0,1.0
4,5,2,0,1,2022,1,1,6,0,1,4,0,3,932.0,0.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10958,5,2,0,1,2022,12,31,18,0,0,38,2,9,5377.0,26.0,20.0,1.0,0.0
10959,5,2,0,1,2022,12,31,18,0,6,123,2,5,0.0,5.0,0.0,0.0,0.0
10960,5,2,0,1,2022,12,31,20,0,6,134,2,5,0.0,0.0,0.0,0.0,0.0
10961,5,2,0,1,2022,12,31,20,0,6,77,0,2,0.0,7.0,0.0,0.0,0.0
10962,5,2,0,1,2022,12,31,21,0,3,195,0,2,1164.0,0.0,0.0,0.0,0.0

(10963, 18)

# Autogluon

In [30]:
train_selection_feature = ['사고유형','시간','도로형태2','요일','연','노면상태','급지구분_2','도로형태1','기상상태','급지구분_3','ECLO']
test_selection_feature = ['사고유형','시간','도로형태2','요일','연','노면상태','급지구분_2','도로형태1','기상상태','급지구분_3']

In [31]:
train_x = train_x[train_selection_feature]
test_x = test_x[test_selection_feature]

In [32]:
train_data = TabularDataset(train_x)
test_data = TabularDataset(test_x)

In [33]:
label = 'ECLO'
eval_metric = 'root_mean_squared_error'

In [34]:
predictor = TabularPredictor(
    label=label, problem_type='regression', eval_metric=eval_metric
).fit(train_data, 
      presets='best_quality', 
      num_stack_levels=3,
      #excluded_model_types = excluded_model_types,
      num_gpus=1)

No path specified. Models will be saved in: "AutogluonModels\ag-20231123_101040\"
Presets specified: ['best_quality']
Stack configuration (auto_stack=True): num_stack_levels=3, num_bag_folds=8, num_bag_sets=1
Beginning AutoGluon training ...
AutoGluon will save models to "AutogluonModels\ag-20231123_101040\"
AutoGluon Version:  0.8.2
Python Version:     3.9.18
Operating System:   Windows
Platform Machine:   AMD64
Platform Version:   10.0.22621
Disk Space Avail:   235.04 GB / 999.46 GB (23.5%)
Train Data Rows:    39609
Train Data Columns: 10
Label Column: ECLO
Preprocessing data ...
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    54853.46 MB
	Train Data (Original)  Memory Usage: 2.22 MB (0.0% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Stage 5 Generators:
		Fitting DropDuplicatesFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('float', []) : 2 | ['급지구분_2', '급지구분_3']
		('int', [])   : 8 | ['사고유형', '시간', '도로형태2', '요일', '연', ...]
	Types of features in processed data (raw dtype, special dtypes):
		('float', []) : 2 | ['급지구분_2', '급지구분_3']
		('int', [])   : 8 | ['사고유형', '시간', '도로형태2', '요일', '연', ...]
	0.1s = Fit runtime
	10 features in original data used to generate 10 features in processed data.
	Train Data (Processed) Memory Usage: 2.22 MB (0.0% of available memory)
Data preprocessing and feature engineering runtime = 0.09s ...
AutoGluon will gauge predictive performance using evaluation metric: 'root_mean_squared_error'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
	To change this, specify the eval_metric parameter of Predictor()
User-specified model hyperparameters to be fit:
{
	'NN_TORCH': {},
	'GBM': [{'extra_trees': True, 'ag_args': {'name_suffix': 'XT'}}, {}, 'GBMLarge'],
	'CAT': {},
	'XGB': {},
	'FASTAI': {},
	'RF': [{'criterion': 'gini', 'ag_args': {'name_suffix': 'Gini', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'entropy', 'ag_args': {'name_suffix': 'Entr', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'squared_error', 'ag_args': {'name_suffix': 'MSE', 'problem_types': ['regression', 'quantile']}}],
	'XT': [{'criterion': 'gini', 'ag_args': {'name_suffix': 'Gini', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'entropy', 'ag_args': {'name_suffix': 'Entr', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'squared_error', 'ag_args': {'name_suffix': 'MSE', 'problem_types': ['regression', 'quantile']}}],
	'KNN': [{'weights': 'uniform', 'ag_args': {'name_suffix': 'Unif'}}, {'weights': 'distance', 'ag_args': {'name_suffix': 'Dist'}}],
}
AutoGluon will fit 4 stack levels (L1 to L4) ...
Fitting 11 L1 models ...
Fitting model: KNeighborsUnif_BAG_L1 ...
	-3.4795	 = Validation score   (-root_mean_squared_error)
	0.07s	 = Training   runtime
	0.53s	 = Validation runtime
Fitting model: KNeighborsDist_BAG_L1 ...
	-3.739	 = Validation score   (-root_mean_squared_error)
	0.07s	 = Training   runtime
	0.36s	 = Validation runtime
Fitting model: LightGBMXT_BAG_L1 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy
	-3.1632	 = Validation score   (-root_mean_squared_error)
	12.19s	 = Training   runtime
	0.14s	 = Validation runtime
Fitting model: LightGBM_BAG_L1 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy
	-3.1581	 = Validation score   (-root_mean_squared_error)
	6.03s	 = Training   runtime
	0.1s	 = Validation runtime
Fitting model: RandomForestMSE_BAG_L1 ...
	-3.5255	 = Validation score   (-root_mean_squared_error)
	3.95s	 = Training   runtime
	1.19s	 = Validation runtime
Fitting model: CatBoost_BAG_L1 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy
	-3.1551	 = Validation score   (-root_mean_squared_error)
	68.74s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: ExtraTreesMSE_BAG_L1 ...
	-3.5053	 = Validation score   (-root_mean_squared_error)
	2.54s	 = Training   runtime
	1.11s	 = Validation runtime
Fitting model: NeuralNetFastAI_BAG_L1 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy
	-3.1612	 = Validation score   (-root_mean_squared_error)
	154.96s	 = Training   runtime
	0.44s	 = Validation runtime
Fitting model: XGBoost_BAG_L1 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy
	-3.1638	 = Validation score   (-root_mean_squared_error)
	20.2s	 = Training   runtime
	0.05s	 = Validation runtime
Fitting model: NeuralNetTorch_BAG_L1 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy
	-3.1941	 = Validation score   (-root_mean_squared_error)
	329.25s	 = Training   runtime
	0.13s	 = Validation runtime
Fitting model: LightGBMLarge_BAG_L1 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy
	-3.1664	 = Validation score   (-root_mean_squared_error)
	20.25s	 = Training   runtime
	0.11s	 = Validation runtime
Fitting model: WeightedEnsemble_L2 ...
	-3.1544	 = Validation score   (-root_mean_squared_error)
	0.58s	 = Training   runtime
	0.0s	 = Validation runtime
Fitting 9 L2 models ...
Fitting model: LightGBMXT_BAG_L2 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy
	-3.1522	 = Validation score   (-root_mean_squared_error)
	11.35s	 = Training   runtime
	0.26s	 = Validation runtime
Fitting model: LightGBM_BAG_L2 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy
	-3.1548	 = Validation score   (-root_mean_squared_error)
	6.27s	 = Training   runtime
	0.08s	 = Validation runtime
Fitting model: RandomForestMSE_BAG_L2 ...
	-3.1702	 = Validation score   (-root_mean_squared_error)
	39.72s	 = Training   runtime
	1.49s	 = Validation runtime
Fitting model: CatBoost_BAG_L2 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy
	-3.1548	 = Validation score   (-root_mean_squared_error)
	50.87s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: ExtraTreesMSE_BAG_L2 ...
	-3.1312	 = Validation score   (-root_mean_squared_error)
	5.75s	 = Training   runtime
	1.49s	 = Validation runtime
Fitting model: NeuralNetFastAI_BAG_L2 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy
	-3.1563	 = Validation score   (-root_mean_squared_error)
	156.53s	 = Training   runtime
	0.45s	 = Validation runtime
Fitting model: XGBoost_BAG_L2 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy
	-3.1633	 = Validation score   (-root_mean_squared_error)
	21.07s	 = Training   runtime
	0.07s	 = Validation runtime
Fitting model: NeuralNetTorch_BAG_L2 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy
	-3.1905	 = Validation score   (-root_mean_squared_error)
	314.69s	 = Training   runtime
	0.18s	 = Validation runtime
Fitting model: LightGBMLarge_BAG_L2 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy
	-3.1557	 = Validation score   (-root_mean_squared_error)
	26.36s	 = Training   runtime
	0.19s	 = Validation runtime
Fitting model: WeightedEnsemble_L3 ...
	-3.1155	 = Validation score   (-root_mean_squared_error)
	0.54s	 = Training   runtime
	0.0s	 = Validation runtime
Fitting 9 L3 models ...
Fitting model: LightGBMXT_BAG_L3 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy
	-3.1092	 = Validation score   (-root_mean_squared_error)
	7.14s	 = Training   runtime
	0.12s	 = Validation runtime
Fitting model: LightGBM_BAG_L3 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy
	-3.1128	 = Validation score   (-root_mean_squared_error)
	5.3s	 = Training   runtime
	0.07s	 = Validation runtime
Fitting model: RandomForestMSE_BAG_L3 ...
	-3.1795	 = Validation score   (-root_mean_squared_error)
	36.42s	 = Training   runtime
	1.5s	 = Validation runtime
Fitting model: CatBoost_BAG_L3 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy
	-3.11	 = Validation score   (-root_mean_squared_error)
	60.48s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: ExtraTreesMSE_BAG_L3 ...
	-3.1567	 = Validation score   (-root_mean_squared_error)
	5.31s	 = Training   runtime
	1.48s	 = Validation runtime
Fitting model: NeuralNetFastAI_BAG_L3 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy
	-3.1073	 = Validation score   (-root_mean_squared_error)
	151.08s	 = Training   runtime
	0.45s	 = Validation runtime
Fitting model: XGBoost_BAG_L3 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy
	-3.1187	 = Validation score   (-root_mean_squared_error)
	21.67s	 = Training   runtime
	0.07s	 = Validation runtime
Fitting model: NeuralNetTorch_BAG_L3 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy
	-3.1436	 = Validation score   (-root_mean_squared_error)
	326.75s	 = Training   runtime
	0.16s	 = Validation runtime
Fitting model: LightGBMLarge_BAG_L3 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy
	-3.1231	 = Validation score   (-root_mean_squared_error)
	21.43s	 = Training   runtime
	0.11s	 = Validation runtime
Fitting model: WeightedEnsemble_L4 ...
	-3.1042	 = Validation score   (-root_mean_squared_error)
	0.52s	 = Training   runtime
	0.0s	 = Validation runtime
Fitting 9 L4 models ...
Fitting model: LightGBMXT_BAG_L4 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy
	-3.1075	 = Validation score   (-root_mean_squared_error)
	6.74s	 = Training   runtime
	0.11s	 = Validation runtime
Fitting model: LightGBM_BAG_L4 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy
	-3.1066	 = Validation score   (-root_mean_squared_error)
	6.11s	 = Training   runtime
	0.08s	 = Validation runtime
Fitting model: RandomForestMSE_BAG_L4 ...
	-3.1721	 = Validation score   (-root_mean_squared_error)
	39.9s	 = Training   runtime
	1.53s	 = Validation runtime
Fitting model: CatBoost_BAG_L4 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy
	-3.1045	 = Validation score   (-root_mean_squared_error)
	50.99s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: ExtraTreesMSE_BAG_L4 ...
	-3.1536	 = Validation score   (-root_mean_squared_error)
	5.47s	 = Training   runtime
	1.5s	 = Validation runtime
Fitting model: NeuralNetFastAI_BAG_L4 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy
	-3.1061	 = Validation score   (-root_mean_squared_error)
	159.11s	 = Training   runtime
	0.47s	 = Validation runtime
Fitting model: XGBoost_BAG_L4 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy
	-3.1194	 = Validation score   (-root_mean_squared_error)
	20.62s	 = Training   runtime
	0.07s	 = Validation runtime
Fitting model: NeuralNetTorch_BAG_L4 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy
	-3.1328	 = Validation score   (-root_mean_squared_error)
	328.58s	 = Training   runtime
	0.16s	 = Validation runtime
Fitting model: LightGBMLarge_BAG_L4 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy
	-3.1154	 = Validation score   (-root_mean_squared_error)
	22.15s	 = Training   runtime
	0.12s	 = Validation runtime
Fitting model: WeightedEnsemble_L5 ...
	-3.1024	 = Validation score   (-root_mean_squared_error)
	0.55s	 = Training   runtime
	0.0s	 = Validation runtime
AutoGluon training complete, total runtime = 2640.03s ... Best model: "WeightedEnsemble_L5"
TabularPredictor saved. To load, use: predictor = TabularPredictor.load("AutogluonModels\ag-20231123_101040\")

In [35]:
predictor.leaderboard(silent = True)

,model,score_val,pred_time_val,fit_time,pred_time_val_marginal,fit_time_marginal,stack_level,can_infer,fit_order
0,WeightedEnsemble_L5,-3.102442,14.660993,2437.236627,0.000997,0.546978,5,True,42
1,WeightedEnsemble_L4,-3.104203,10.740999,1823.791136,0.000976,0.518235,4,True,32
2,CatBoost_BAG_L4,-3.104513,12.445552,1937.416762,0.022497,50.991641,4,True,36
3,NeuralNetFastAI_BAG_L4,-3.106147,12.895363,2045.537423,0.472308,159.112303,4,True,38
4,LightGBM_BAG_L4,-3.106574,12.507573,1892.532447,0.084518,6.107326,4,True,34
5,NeuralNetFastAI_BAG_L3,-3.107336,8.892703,1401.923204,0.454069,151.084058,3,True,28
6,LightGBMXT_BAG_L4,-3.107465,12.532079,1893.162561,0.109025,6.737441,4,True,33
7,LightGBMXT_BAG_L3,-3.109172,8.559201,1257.976105,0.120567,7.136959,3,True,23
8,CatBoost_BAG_L3,-3.109992,8.459634,1311.317507,0.021000,60.478362,3,True,26
9,LightGBM_BAG_L3,-3.112753,8.509975,1256.140386,0.071341,5.301240,3,True,24
10,LightGBMLarge_BAG_L4,-3.115440,12.544021,1908.571474,0.120966,22.146353,4,True,41
11,WeightedEnsemble_L3,-3.115527,6.797115,1184.317001,0.001004,0.536020,3,True,22
12,XGBoost_BAG_L3,-3.118748,8.505699,1272.513490,0.067065,21.674344,3,True,29
13,XGBoost_BAG_L4,-3.119392,12.490093,1907.044996,0.067038,20.619875,4,True,39
14,LightGBMLarge_BAG_L3,-3.123122,8.549464,1272.268302,0.110829,21.429157,3,True,31
15,ExtraTreesMSE_BAG_L2,-3.131210,5.685558,623.984197,1.492206,5.745140,2,True,17
16,NeuralNetTorch_BAG_L4,-3.132830,12.583892,2215.005424,0.160837,328.580303,4,True,40
17,NeuralNetTorch_BAG_L3,-3.143622,8.596954,1577.585034,0.158319,326.745889,3,True,30
18,LightGBMXT_BAG_L2,-3.152178,4.456722,629.588435,0.263370,11.349378,2,True,13
19,ExtraTreesMSE_BAG_L4,-3.153573,13.919835,1891.898076,1.496780,5.472955,4,True,37
20,WeightedEnsemble_L2,-3.154373,0.973282,250.578732,0.001022,0.584369,2,True,12
21,LightGBM_BAG_L2,-3.154804,4.275364,624.505681,0.082012,6.266624,2,True,14
22,CatBoost_BAG_L2,-3.154805,4.217372,669.104338,0.024019,50.865281,2,True,16
23,CatBoost_BAG_L1,-3.155060,0.024998,68.737629,0.024998,68.737629,1,True,6
24,LightGBMLarge_BAG_L2,-3.155699,4.387871,644.595923,0.194519,26.356866,2,True,21
25,NeuralNetFastAI_BAG_L2,-3.156270,4.639496,774.771974,0.446144,156.532917,2,True,18
26,ExtraTreesMSE_BAG_L3,-3.156735,9.919003,1256.153289,1.480369,5.314143,3,True,27
27,LightGBM_BAG_L1,-3.158117,0.095006,6.032711,0.095006,6.032711,1,True,4
28,NeuralNetFastAI_BAG_L1,-3.161209,0.441686,154.956645,0.441686,154.956645,1,True,8
29,LightGBMXT_BAG_L1,-3.163194,0.144048,12.185603,0.144048,12.185603,1,True,3
30,XGBoost_BAG_L2,-3.163313,4.263735,639.309931,0.070383,21.070873,2,True,19
31,XGBoost_BAG_L1,-3.163767,0.054508,20.199860,0.054508,20.199860,1,True,9
32,LightGBMLarge_BAG_L1,-3.166417,0.111506,20.249825,0.111506,20.249825,1,True,11
33,RandomForestMSE_BAG_L2,-3.170235,5.683480,657.959724,1.490128,39.720667,2,True,15
34,RandomForestMSE_BAG_L4,-3.172059,13.953714,1926.324594,1.530659,39.899473,4,True,35
35,RandomForestMSE_BAG_L3,-3.179521,9.939497,1287.260969,1.500862,36.421823,3,True,25
36,NeuralNetTorch_BAG_L2,-3.190482,4.375854,932.931401,0.182502,314.692343,2,True,20
37,NeuralNetTorch_BAG_L1,-3.194119,0.128993,329.249698,0.128993,329.249698,1,True,10
38,KNeighborsUnif_BAG_L1,-3.479474,0.533741,0.072512,0.533741,0.072512,1,True,1
39,ExtraTreesMSE_BAG_L1,-3.505342,1.110621,2.536605,1.110621,2.536605,1,True,7
40,RandomForestMSE_BAG_L1,-3.525452,1.192183,3.950451,1.192183,3.950451,1,True,5
41,KNeighborsDist_BAG_L1,-3.739034,0.356062,0.067519,0.356062,0.067519,1,True,2

In [36]:
predictor.feature_importance(train_data)

Computing feature importance via permutation shuffling for 10 features using 5000 rows with 5 shuffle sets...
	692.21s	= Expected runtime (138.44s per shuffle set)
	199.87s	= Actual runtime (Completed 5 of 5 shuffle sets)

        importance    stddev   p_value  n  p99_high   p99_low
사고유형      0.071682  0.009879  0.000042  5  0.092023  0.051341
시간        0.068934  0.005436  0.000005  5  0.080126  0.057742
요일        0.067169  0.008762  0.000034  5  0.085209  0.049129
도로형태2     0.053202  0.003258  0.000002  5  0.059909  0.046494
도로형태1     0.046021  0.004330  0.000009  5  0.054936  0.037105
급지구분_2    0.042934  0.004475  0.000014  5  0.052148  0.033721
연         0.041678  0.008289  0.000178  5  0.058745  0.024611
급지구분_3    0.037551  0.005437  0.000051  5  0.048746  0.026355
노면상태      0.006904  0.004612  0.014321  5  0.016399 -0.002592
기상상태      0.004929  0.001623  0.001227  5  0.008270  0.001587

In [37]:
model_to_use = predictor.get_model_best()
model_pred = predictor.predict(test_x, model=model_to_use)

In [38]:
sample_submission = pd.read_csv('../open/sample_submission.csv')
baseline_submission = sample_submission.copy()
baseline_submission['ECLO'] = model_pred.astype(int)
baseline_submission

                   ID  ECLO
0      ACCIDENT_39609     3
1      ACCIDENT_39610     3
2      ACCIDENT_39611     5
3      ACCIDENT_39612     4
4      ACCIDENT_39613     4
...               ...   ...
10958  ACCIDENT_50567     6
10959  ACCIDENT_50568     5
10960  ACCIDENT_50569     5
10961  ACCIDENT_50570     5
10962  ACCIDENT_50571     5

[10963 rows x 2 columns]

In [39]:
baseline_submission.to_csv('../Sub/autogluon_new_data_feature_selection.csv', index=False)

In [41]:
baseline_submission[baseline_submission['ECLO']<0]

Empty DataFrame
Columns: [ID, ECLO]
Index: []

In [42]:
baseline_submission['ECLO'].unique()

array([3, 5, 4, 7, 6, 2, 9, 8])

In [43]:
train_x['ECLO'].unique()

array([ 5,  3,  6, 18,  9,  8, 15,  2,  1,  7,  4, 12, 13, 10, 11, 16, 40,
       22, 21, 17, 25, 14, 20, 27, 19, 24, 26, 23, 28, 31, 30, 47, 36, 33,
       34, 35, 37, 65, 56, 32, 57, 45, 52, 74, 39, 66], dtype=int64)